<section class="app">
    <section class="inputfield">
        <div class="text-container">
            <h1>Please enter your details so that<br> we know you're coming!</h1>
            <form id="my-form">
                <label for="fname"><h4>Full Name:</h4></label>
                <input type="text" id="fname" name="fname" onkeypress="return /[a-z]/i.test(event.key)"><br>
                <label for="fname"><h4>Phone Number:</h4></label>
                <input type="number" id="pnumber" name="pnumber"><br><br>
                <input class="submitButton" type="button" value="Submit" (click)="onSubmitSelect()" disabled="disabled">
            </form>
        </div>
    </section>

    <app-illness></app-illness>

    <app-level-of-pain></app-level-of-pain>

    <section class="thankyou">
        <div class="title-container">
            <h1>Thank you for selecting a hospital,<br> head there now and we'll get you treated!</h1>
        </div>
        <div #mapWrapper id="map" style="width:80%;height:600px;margin: 0 auto;;"></div>
    </section>
</section>
