section.inputfield{
    margin: 0 auto;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    .text-container{
        margin: 0 auto;
        width: 40%;
    }
    .inputfield h4{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 30;
        margin-block-end: 0px;
    }

    input[type=button] {
        background-color: #363636; /* Green */
        border: none;
        color: #e8175d;
        padding: 9px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
    }

    input[type=button]:hover {
        background-color: #606060;
    }

    input[type=button].selected:hover {
        background-color: #606060;
        border: none;
    }

    input[type=button].selected {
        background-color: #606060;
        border: none;
    }

    input[type=button]:active {
        background-color: #ffffff;
        color: #e8175d;
        border: none;
    }
}

section.app{

    section.thankyou{
        display: none;
        width: 50%;
        margin: 0 auto;
    }

    .title-container{
        min-width: 200px;
        text-align: center;
        h1{
            font-family: 'Nunito Sans', sans-serif;
            color: #222222;
            font-size:25px;
        }
    }

}

