.title-container{
    width: 100%;
    text-align: center;
    
    h1{
        color: #333333;
    }

    h2{
        color: #333333;
    }
}

.cta-container{
    text-align: center;
    
    .button {
        background-color: #333333;
        border: none;
        color: #ffffff;
        min-width: 200px;
        padding: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10%;

        a{
            text-decoration: none;
            color: #ffffff;
        }
    }
}