<div class="title-container">
    <h1> Welcome to PALO Industries </h1>
    <h2> Bringing ease to sick patients </h2>
</div>

<div class="cta-container">
    <h3>Click the button below if you're unwell<br> and we'll tell you which hospital is your best bet!</h3>
    <a [routerLink]="['/survey']">
        <button class="button">
            Need Help?
        </button>
    </a>
</div>
