section.level-of-pain{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: none;
    width: 33%;
    .LOP {
        margin: 0 auto;
        list-style-type: none;
        padding: 0;
        width: 100%;
        max-width: 250px;
    }
    .LOP li {
        cursor: pointer;
        margin: 10px 0px;
        text-align: center;
        display: inline-block;
        font-size: small;
        color: #e8175d;
        padding: 1px 0px;
        background-color:#363636;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 40px;
        margin-right: .8em;
        border-radius: 4px;
        width: 100%;
    }
    .LOP li:hover {
        color: #e8175d;
        background-color: #606060;
        left: .1em;
    }
    .LOP li:active {
        background-color: white;
        color: #e8175d;
        top: .1em;
    }
    .LOP li.selected:hover {
        background-color: #606060;
        color: white;
    }
    .LOP p{
        font-family: 'Nunito Sans', sans-serif;
        height: 29px;
        margin-top: 13px;
        margin-bottom: 0px;
    }
}

section.hospitals{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: none;
    width: 33%;
    .hospital {
        margin: 0 auto;
        list-style-type: none;
        padding: 0;
        width: 100%;
        max-width: 500px;
    }
    .hospital li {
        cursor: pointer;
        margin: 10px 0px;
        text-align: center;
        display: inline-block;
        font-size: small;
        color: #e8175d;
        padding: 1px 0px;
        background-color:#363636;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 80px;
        margin-right: .8em;
        border-radius: 4px;
        width: 100%;
    }
    .hospital li:hover {
        color: #e8175d;
        background-color: #606060;
        left: .1em;
    }
    .hospital li:active {
        background-color: white;
        color: #e8175d;
        top: .1em;
    }
    .hospital li.selected:hover {
        background-color: #606060;
        color: white;
    }
    .hospital h5{
        font-family: 'Nunito Sans', sans-serif;
        height: 29px;
        margin-top: 13px;
        margin-bottom: 0px;
    }
    .hospital p{
        color: #f05f8d;
        font-family: 'Nunito Sans', sans-serif;
        height: 29px;
        margin-top: 13px;
        margin-bottom: 0px;
    }
}
