<section class="level-of-pain">
    <div class="title-container">
        <h1>Please grade your level of pain: </h1>
    </div>
    <ul class="LOP" >
        <li 
        (click)="onLOPSelect(0)" id="unchosen">
            <p>0</p>
        </li>
        <li 
        (click)="onLOPSelect(1)" id="unchosen">
            <p>1</p>
        </li>
        <li
        (click)="onLOPSelect(2)" id="unchosen">
            <p>2</p>
        </li>
        <li 
        (click)="onLOPSelect(3)" id="unchosen">
            <p>3</p>
        </li>
        <li 
        (click)="onLOPSelect(4)" id="unchosen">
            <p>4</p>
        </li>
    </ul>
    
    <div class="box-container">
        
    </div>
</section>

<section class="hospitals">
    <div class="title-container">
        <h1>Our suggested Hospitals based on waiting time:</h1>
    </div>
    <ul class="hospital">
        <li *ngFor="let hospital of hospitalOutput"
        [class.selected]="hospital === selectedHospital"
        (click)="onHospitalSelect(hospital)">
            <h4>{{hospital.name}}</h4> 
            <p>Waiting time(min): {{hospital.LOPCurrentWaitingTime}}<p>
        </li>
    </ul>
    <div class="box-container">
        
    </div>
</section>