section.illness-select{
    font-family: 'Nunito Sans', sans-serif;
    display: none;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* illnessComponent's private CSS styles */
    .illness {
        margin: 0 auto;
        list-style-type: none;
        padding: 0;
        width: 100%;
        max-width: 250px;
    }
    .illness li {
        cursor: pointer;
        margin: 10px 0px;
        text-align: center;
        display: inline-block;
        font-size: small;
        color: #e8175d;
        padding: 1px 0px;
        background-color:#363636;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 40px;
        margin-right: .8em;
        border-radius: 4px;
        width: 100%;
    }
    .illness li:hover {
        color: #e8175d;
        background-color: #606060;
        left: .1em;
    }
    .illness li:active {
        background-color: white;
        color: #e8175d;
        top: .1em;
    }
    .illness li.selected:hover {
        background-color: #606060;
        color: white;
    }
    .illness p{
        font-family: 'Nunito Sans', sans-serif;
        height: 29px;
        margin-top: 13px;
        margin-bottom: 0px;
    }
}