<section class="illness-select">
    <div id="section1">
        <div class="title-container" >
            <h1>Please select your illness:</h1>
        </div>
        <ul class="illness" >
            <li *ngFor="let illness of illnessOutput" 
            [class.selected]="illness === selectedIllness"
            (click)="onIllnessSelect(illness)">
                <p>{{illness.name}}</p>
            </li>
        </ul>
        <div class="box-container" >

        </div>
    </div>
</section>